<link rel="stylesheet" href="../public/stylesheets/style.css">

  <br>
  <h1 class="text-center about-title"> CodeCall es una plataforma web en la que puedes compartir tu código</h1>
  <br>

<div class="aboutl">
  <h3 class="aboutl-title"> Características:</h3>
  <ul>
    <li>Comparte tu código en tiempo real</li>
    <li>Sala de chat</li>
    <li>Videochat</li>
   <!-- <li>Compartir pantalla</li> -->
    <li>Guarda tu código en una sala</li>
    <li>Aprende mientras escribes código</li>
  </ul>

  </div>

<div class="aboutr">

  <h3 class="aboutr-title">Herramientas implementadas:</h3>
  <ul>
    <li>Node js</li>
    <li>Express</li>
    <li>Socket io</li>
    <li>Peer js</li>
<!--<li>HandlersBars</li> -->
    <li>MongoDB</li>
  </ul>
  <br>

</div>

<div class="dev">

<h3 class="dev-title text-center">Desarrollado por:</h3>
  <ul>
    {{!-- <li><a href="https://gabrielsr07.github.io/Portafolio/"><p class="text-center">Gabriel Suárez</p></a></li> --}}
    <li>Gabriel Suárez</li>
    <li>Luis Godoy</li>
    <li>Estefany Durán</li>
  </ul>

</div>
